node_modules
.DS_Store
.env
.env.local
.env.*
.pnp.*
dist
build
out
.next
.vercel
coverage
.tmp
.vscode
.idea
*.log
pnpm-lock.yaml
package-lock.json
yarn.lock
.tmp
playwright-report
/test-results
/.turbo
/.nyc_output
__pycache__/
.venv/
*.pyc
